@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="Cache-control" content="public">
    <title>@Model.Value("title")</title>

    <link rel="stylesheet" href="~/simplesite/css/styles.min.css" />

    <link rel="stylesheet" href="usitesearch-css-bundle" />
    <script src="usitesearch-js-bundle"></script>

</head>


<body>

    @Html.Partial("~/Views/Partials/USiteSearch/site-search.cshtml")

    <section class="menu" usitesearch-exclude="true">
        <nav>

            @{
                var selection = Umbraco.ContentAtRoot().FirstOrDefault().Children().Where(x => x.IsVisible());
            }

            <ul>
                <li>
                    <a href="/home">Home</a>
                </li>

                @foreach (var item in selection)
                {
                    <li>
                        <a href="@item.Url()">@item.Name()</a>
                    </li>
                }
            </ul>

            <a href="#" id="site-search" title="Search the site"><img src="/simplesite/images/search.svg"></a>

        </nav>
    </section>

    <section class="body">
        @RenderBody()
    </section>

</body>

</html>