@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Page>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
  Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
  <link rel="stylesheet" href="/sample-site-U11/css/bootstrap.css">
  <link rel="stylesheet" href="/sample-site-U11/css/font-awesome.min.css">
  <link rel="stylesheet" href="/sample-site-U11/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/sample-site-U11/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/sample-site-U11/style.css">
  <link rel="stylesheet" href="/sample-site-U11/responsive.css">
  <title>@Model.Title</title>


  <link rel="stylesheet" href="usitesearch-css-bundle" />
  <script src="usitesearch-js-bundle"></script>

</head>

<body>

  @Html.Partial("~/Views/Partials/USiteSearch/USiteSearch.cshtml")

  <div class="wrapper">
    <header class="header">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <div class="logo">
              <h2><a href="#">Classic</a></h2>
            </div>
          </div>
          <div class="col-md-10">
            <div class="menu">
              <ul>
                <li class="active"><a href="#">Home</a></li>

                @{
                  var selection = Umbraco.ContentAtRoot().FirstOrDefault().Children().Where(x => x.IsVisible());
                }

                @foreach (var item in selection)
                {
                  <li>
                    <a href="@item.Url()">@item.Name()</a>
                  </li>
                }

                <li>
                  <a href="#" id="site-search" title="Search the site">Site search</a>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="single-blog-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="border-top">
              <div class="col-md-8">
                <div class="blog-area">
                  <div class="blog-area-part">

                    @RenderBody()

                  </div>
                  <div class="ads-area">
                    <img src="/sample-site-U11/img/ads.jpg" alt="">
                    <p>Your Ad Banner Goes Here</p>
                  </div>
                  <div class="commententries">
                    <h3>Comments</h3>

                    <ul class="commentlist">
                      <li>
                        <article class="comment">
                          <header class="comment-author">
                            <img src="/sample-site-U11/img/author-1.jpg" alt="">
                          </header>
                          <section class="comment-details">
                            <div class="author-name">
                              <h5><a href="#">Selina Gomez</a></h5>
                              <p>February 25 2017</p>
                            </div>
                            <div class="comment-body">
                              <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </p>
                            </div>
                            <div class="reply">
                              <p><span><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>12</span><span><a href="#"><i class="fa fa-reply" aria-hidden="true"></i></a>7</span></p>
                            </div>
                          </section>
                        </article>

                        <ul class="children">
                          <li>
                            <article class="comment">
                              <header class="comment-author">
                                <img src="/sample-site-U11/img/author-2.jpg" alt="">
                              </header>
                              <section class="comment-details">
                                <div class="author-name">
                                  <h5><a href="#">Khalid Hasan Zibon</a></h5>
                                  <p>February 25 2017</p>
                                </div>
                                <div class="comment-body">
                                  <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </p>
                                </div>
                                <div class="reply">
                                  <p><span><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>12</span><span><a href="#"><i class="fa fa-reply" aria-hidden="true"></i></a>7</span></p>
                                </div>
                              </section>
                            </article>
                          </li>
                        </ul>

                      </li>
                      <li>
                        <article class="comment">
                          <header class="comment-author">
                            <img src="/sample-site-U11/img/author-3.jpg" alt="">
                          </header>
                          <section class="comment-details">
                            <div class="author-name">
                              <h5><a href="#">Heath Ledger</a></h5>
                              <p>February 25 2017</p>
                            </div>
                            <div class="comment-body">
                              <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </p>
                            </div>
                            <div class="reply">
                              <p><span><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>12</span><span><a href="#"><i class="fa fa-reply" aria-hidden="true"></i></a>7</span></p>
                            </div>
                          </section>
                        </article>
                      </li>
                    </ul>

                  </div>
                  <form action="#" method="get">
                    <div class="name">
                      <input type="text" name="" id="" placeholder="Name" class="name">
                    </div>
                    <div class="email">
                      <input type="email" name="" id="" placeholder="Email" class="email">
                    </div>
                    <div class="comment">
                      <input type="text" name="" id="" placeholder="Comment" class="comment">
                    </div>
                    <div class="post">
                      <input type="submit" value="Post">
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-md-4" usitesearch-exclude="true">
                <div class="button-group filters-button-group">
                  <button data-filter=".recent" class="button is-checked">Recent</button>
                  <button data-filter=".popular" class="button">popular</button>
                  <button data-filter=".users" class="button">Users</button>
                </div>

                <div class="grid" style="position: relative; height: 1221.93px;">
                  <div class="portfolio-item recent" style="position: absolute; left: 0px; top: 0px;">
                    <img src="/sample-site-U11/img/portfolio1.jpg" alt="">
                    <div class="portfolio-text">
                      <h5><a href="#">Pay Close Attention To People Who Don’t Clap When You Win recent1.</a></h5>
                      <p>By Kabbo Liate <span>|</span>25 February 2017</p>
                    </div>
                  </div>
                  <div class="portfolio-item recent" style="position: absolute; left: 0px; top: 0px;">
                    <img src="/sample-site-U11/img/portfolio2.jpg" alt="">
                    <div class="portfolio-text">
                      <h5><a href="#">Pay Close Attention To People Who Don’t Clap When You Win recent2.</a></h5>
                      <p>By Kabbo Liate <span>|</span>25 February 2017</p>
                    </div>
                  </div>
                  <div class="portfolio-item popular" style="position: absolute; left: 0px; top: 0px;">
                    <img src="/sample-site-U11/img/portfolio3.jpg" alt="">
                    <div class="portfolio-text">
                      <h5><a href="#">Pay Close Attention To People Who Don’t Clap When You Win popular1.</a></h5>
                      <p>By Kabbo Liate <span>|</span>25 February 2017</p>
                    </div>
                  </div>
                  <div class="portfolio-item popular" style="position: absolute; left: 0px; top: 0px;">
                    <img src="/sample-site-U11/img/portfolio4.jpg" alt="">
                    <div class="portfolio-text">
                      <h5><a href="#">Pay Close Attention To People Who Don’t Clap When You Win popular2.</a></h5>
                      <p>By Kabbo Liate <span>|</span>25 February 2017</p>
                    </div>
                  </div>
                  <div class="portfolio-item users" style="position: absolute; left: 0px; top: 0px;">
                    <img src="/sample-site-U11/img/portfolio5.jpg" alt="">
                    <div class="portfolio-text">
                      <h5><a href="#">Pay Close Attention To People Who Don’t Clap When You Win users1.</a></h5>
                      <p>By Kabbo Liate <span>|</span>25 February 2017</p>
                    </div>
                  </div>
                  <div class="portfolio-item users" style="position: absolute; left: 0px; top: 0px;">
                    <img src="/sample-site-U11/img/portfolio1.jpg" alt="">
                    <div class="portfolio-text">
                      <h5><a href="#">Pay Close Attention To People Who Don’t Clap When You Win users2.</a></h5>
                      <p>By Kabbo Liate <span>|</span>25 February 2017</p>
                    </div>
                  </div>
                </div>
                <div class="sidebar-ads">
                  <img src="/sample-site-U11/img/sidebar-ads.jpg" alt="">
                  <p>Place For Your <br> Ad Banner</p>
                </div>
                <div class="tags">
                  <h2 class="sidebar-title">Tags</h2>
                  <p><a href="#">Adventure</a></p>
                  <p><a href="#">Animals</a></p>
                  <p><a href="#">Asia</a></p>
                  <p><a href="#">Beauty</a></p>
                  <p><a href="#">Canada</a></p>
                  <p><a href="#">Celebration</a></p>
                  <p><a href="#">City</a></p>
                  <p><a href="#">Coffee</a></p>
                  <p><a href="#">Constructions</a></p>
                  <p><a href="#">Europe</a></p>
                  <p><a href="#">Adventure</a></p>
                  <p><a href="#">Animals</a></p>
                  <p><a href="#">Asia</a></p>
                  <p><a href="#">Beauty</a></p>
                  <p><a href="#">Canada</a></p>
                  <p><a href="#">Celebration</a></p>
                  <p><a href="#">City</a></p>
                  <p><a href="#">Coffee</a></p>
                  <p><a href="#">Constructions</a></p>
                  <p><a href="#">Europe</a></p>
                  <p><a href="#">Adventure</a></p>
                  <p><a href="#">Animals</a></p>
                  <p><a href="#">Asia</a></p>
                  <p><a href="#">Beauty</a></p>
                  <p><a href="#">Canada</a></p>
                </div>
                <div class="newsletter">
                  <h2 class="sidebar-title">Subscribe To oUR nEWSLETTER</h2>
                  <form action="#" method="post">
                    <input type="email" name="" id="" placeholder="Email">
                    <input type="submit" value="Subscribe">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="footer-bg">
              <div class="row">
                <div class="col-md-9">
                  <div class="footer-menu">
                    <ul>
                      <li class="active"><a href="#">Home</a></li>
                      <li><a href="#">lifestyle</a></li>
                      <li><a href="#">Food</a></li>
                      <li><a href="#">Nature</a></li>
                      <li><a href="#">photography</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="footer-icon">
                    <p><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></p>
                  </div>
                </div>
              </div> .
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="/sample-site-U11/js/jquery-3.1.1.min.js"></script>
  <script src="/sample-site-U11/js/bootstrap.min.js"></script>
  <script src="/sample-site-U11/js/owl.carousel.min.js"></script>
  <script src="/sample-site-U11/js/isotope.pkgd.js"></script>
  <script src="/sample-site-U11/js/active.js"></script>
</body>

</html>